.App {
  position: relative;
  width: 100%;
  height: 100%;
}

.App-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  color: #fff;
}

.App-title {
  text-align: center;
  font-size: 18px;
  font-weight: normal;
}

.App-login {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  color: hsla(0,0%,100%,.6);
}
.App-login:hover{
  color: white;
}